.fakeimg {
    height: 200px;
    background: #aaa;
}

.title-red{
    color: red;
    font-size: 56px;
}

.top-cover{
    background-color: #fff;
}

.top-sub-title{
    font-size: 24px;
    font-color: black;
}

.login-wrapper-height{
    height: 600px;
    background-color: #f5f5f5;
}

.login-form{
    background-color: #f5f5f5;
}